/* Color Palette:
        Blue:               #1da1f3
        Dark:               #14171c
        Dark-Gray:          #657787
        Gray:               #aab8c3
        Light-Gray:         #e1e8ed
        Extra Light Gray:   #f5f8fb 
*/

*{
    margin: 0px;
    /* border: 1px solid rgb(255, 124, 124); */
}
body{
    margin-bottom: -50px;
}
/* section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
} */
h1{
    font-size: 3rem;
    color: #de0707;
}
.navbar{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #14171c;
}
.navbar-nav{
    margin-left: 200px;
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    font-size: large;
    font-weight: bold;
}
.navbar-nav :hover a{
    color: #1da1f3;
}
.navbar-nav a{
    color: white;
    text-decoration: none;
}
#cv{
    background-color: #1da1f3;
}
.title{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* CONTACT FORM */
.contact-form{
    width: 70%;
    margin: 0 auto;
}

/* FOOTER */
footer{
    min-height: 10vh;
    margin: 0px;
    padding: 50px;
    padding-bottom: 0px;
    background-color: #14171c;
    color: white;
}
footer ul{
    list-style: none;
}
footer ul li{
    padding: 2px;
}
.socials-list{
    margin: 50px 0px;
    display: flex;
    justify-content: center;
}
.socials-list li{
    display: inline-block;
    margin: 0px 10px;
}
 .socials-list a{
    color: white;
    text-decoration: none;
    font-size: medium;
}
#copyright{
    display: flex;
    justify-content: center;
    align-items: center;
}
